<%- include("../layout/header")%>
<h1>Admin Reset Password</h1>

<form method="post">
  <div>
    <input
      type="password"
      placeholder="enter password"
      name="password"
      size="40"
      required
    />
  </div>

  <br />
  <input type="hidden" name="adminId" value="<%=adminId %>" />

  <button type="submit">submit</button>
</form>

<%if(typeof message !=="undefined"){ %>
<h4 style="color: green"><%= message %></h4>
<% }%> <%- include("../layout/footer")%>
