<%- include("../layout/header")%>
    <h1>Admin Reset Password</h1>

    <form  method="post">
        
    <div>
        <input type="email" placeholder="enter email" name ="email" size="40" required>
    </div>
    <br>
    

    <button type="submit">Submit</button>



    </form>
    <br>


   
    <%if(typeof message !=="undefined"){ %>
        <h4 style="color:green;"> <%= message %></h4>
        <% }%>

    <%- include("../layout/footer")%>


    