<%- include("./layout/header")%>
    <h1>User Login</h1>

    <form action="/login" method="post">
        
    <div>
        <input type="email" placeholder="enter email" name ="email" size="40" required>
    </div>
    <br>
    <div>
        <input type="password" placeholder="enter password" name ="password" size="40" required>
    </div>
    
    <br>

    <button type="submit">Login</button>



    </form>
    <a href="/resendVerificationEmail">Send Verification Link</a>
    <br>
    <a href="/reset-password">Forget password</a>


   
    <%if(typeof message !=="undefined"){ %>
        <h4 style="color:green;"> <%= message %></h4>
        <% }%>

    <%- include("./layout/footer")%>


    