<%- include("./layout/header")%>
    <h1>Reset Password</h1>

    <form action="/reset-password" method="post">
        
    <div>
        <input type="email" placeholder="enter email" name ="email" size="40" required>
    </div>
    <br>
  
    
    <br>

    <button type="submit">Reset Password</button>



    </form>

   
    <%if(typeof message !=="undefined"){ %>
        <h4 style="color:green;"> <%= message %></h4>
        <% }%>

    <%- include("./layout/footer")%>


    